:root {
    --color-moz-black: #161616;
    --color-moz-black-strong: #000000;
    --color-moz-white: #fafafa;
    --color-moz-white-strong: #ffffff;
    --color-moz-green: #00d230;
    --color-moz-green-light: #d6ffcd;
    --color-moz-green-mid: #28733f;
    --color-moz-green-dark: #022611; 

    --color-moz-clay: #dadeb2; 
    --color-moz-clay-light: #eaecd0; 
    --color-moz-clay-mid: #b2b895; 
    --color-moz-clay-dark: #697961;

    --color-fx-purple: #6b00d5;
    --color-fx-purple-light: #f1e7f8;
    --color-fx-purple-mid: #6132bc;
    --color-fx-purple-dark: #3a0f6e;

    /* flag */
    --md-admonition-icon--bedrock: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69 80"><path d="M10.225 80H0V0h10.225v80ZM18.6 40.805h40.496v-2.296l-26.391-9.612v-8.065l26.391-9.575V8.924H27.83V0h40.499v16.303l-21.484 7.412v2.3l21.484 7.413v16.301H18.6v-8.924Zm0-31.881h9.231v9.231H18.6V8.924Z"/></svg>');
    /* firefox */
    --md-admonition-icon--springfield: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><path d="M29.333 24.292zm-9.4-4.666zm56.262 7.2c-1.7-4.052-5.135-8.427-7.834-9.81a40.023 40.023 0 0 1 3.955 11.764l.007.065C67.9 17.925 60.414 13.52 54.3 3.928a49.086 49.086 0 0 1-.92-1.484 12.903 12.903 0 0 1-.43-.8 7.036 7.036 0 0 1-.583-1.535.1.1 0 0 0-.089-.1.138.138 0 0 0-.073 0c-.006 0-.014.009-.02.011s-.019.011-.028.015l.016-.022C43.489 5.057 39.89 13.9 38.964 19.521a20.927 20.927 0 0 0-7.738 1.96.992.992 0 0 0 .836 1.8 19 19 0 0 1 6.738-1.747l.228-.016c.32-.018.641-.031.964-.034a19.785 19.785 0 0 1 5.605.771c.107.031.211.067.316.1.3.093.6.191.9.3.218.08.433.166.648.253.175.07.349.14.521.214.269.118.534.243.8.372.121.06.241.119.36.181.257.133.51.273.76.417q.243.139.48.286a19.909 19.909 0 0 1 6.829 7.013 13.559 13.559 0 0 0-9.411-2.273c14.047 6.97 10.276 30.972-9.189 30.065a17.447 17.447 0 0 1-5.081-.972q-.573-.213-1.147-.466c-.221-.1-.441-.2-.658-.312-4.77-2.446-8.708-7.07-9.2-12.684 0 0 1.8-6.667 12.908-6.667 1.2 0 4.633-3.325 4.7-4.289-.014-.315-6.811-3-9.461-5.59-1.416-1.385-2.088-2.052-2.683-2.553a11.746 11.746 0 0 0-1.012-.758 17.823 17.823 0 0 1-.109-9.473 28.89 28.89 0 0 0-9.4 7.21h-.018c-1.557-1.946-1.45-8.366-1.36-9.707a7.063 7.063 0 0 0-1.3.687 28.454 28.454 0 0 0-3.816 3.245A33.973 33.973 0 0 0 7.323 21.2v.006-.007a32.6 32.6 0 0 0-5.24 11.743c-.01.043-.372 1.622-.637 3.572-.045.3-.086.6-.125.912a25.84 25.84 0 0 0-.231 2.22c0 .039-.005.077-.008.115-.025.377-.051.8-.078 1.29v.2A39.079 39.079 0 0 0 78.546 47.8c.066-.5.119-.995.177-1.5a39.561 39.561 0 0 0-2.533-19.469zM49.529 38.46z"/></svg>');
    /* stack */
    --md-admonition-icon--both: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><g transform="translate(2, 2)" stroke="%23000" stroke-width="2"><polygon points="10 0 0 5 10 10 20 5"/><polyline points="0 15 10 20 20 15"/><polyline points="0 10 10 15 20 10"/></g></g></svg>');
}

/**
 * Project Tabs - Custom styling for Bedrock/Springfield tabs
 */

.tabbed-content {
  border: .075rem solid currentColor;
  border-radius: 0 .2rem .2rem .2rem;
  padding: .5em;
  transition: border-color 500ms ease-out;
}

label[data-project="bedrock"]:hover,
.tabbed-set > input[id^='bedrock']:checked ~ .tabbed-labels label[data-project="bedrock"] {
    background-color: var(--color-moz-green-light);
}

.tabbed-set > input[id^='bedrock']:checked ~ .tabbed-content {
    border-color: var(--color-moz-green-mid);
}

label[data-project="springfield"]:hover,
.tabbed-set > input[id^='springfield']:checked ~ .tabbed-labels label[data-project="springfield"] {
    background-color: var(--color-fx-purple-light);
}

.tabbed-set > input[id^='springfield']:checked ~ .tabbed-content {
    border-color: var(--color-fx-purple-mid);
}

/**
 * Admonitions - Custom styling for Bedrock/Springfield tabs
 */

/* Bedrock-only admonition - green */
.md-typeset .admonition.bedrock,
.md-typeset details.bedrock {
    border-color: var(--color-moz-green-mid);
}

.md-typeset .admonition.bedrock > .admonition-title,
.md-typeset details.bedrock > summary {
    background-color: var(--color-moz-green-light);
}

.md-typeset .admonition.bedrock > .admonition-title::before,
.md-typeset details.bedrock > summary::before {
    background-color: var(--color-moz-green-mid);
    mask-image: var(--md-admonition-icon--bedrock);
}

/* Springfield-only admonition - purple */
.md-typeset .admonition.springfield,
.md-typeset details.springfield {
    border-color: var(--color-fx-purple-mid);
}

.md-typeset .admonition.springfield > .admonition-title,
.md-typeset details.springfield > summary {
    background-color: var(--color-fx-purple-light);
}

.md-typeset .admonition.springfield > .admonition-title::before,
.md-typeset details.springfield > summary::before {
    background-color: var(--color-fx-purple-mid);
    mask-image: var(--md-admonition-icon--springfield);
}

/* Both projects admonition - blue/teal */
.md-typeset .admonition.both,
.md-typeset details.both {
    border-color: var(--color-moz-clay-dark);
}

.md-typeset .admonition.both > .admonition-title,
.md-typeset details.both > summary {
    background-color: var(--color-moz-clay-light);
}

.md-typeset .admonition.both > .admonition-title::before,
.md-typeset details.both > summary::before {
    background-color: var(--color-moz-clay-dark);
    -webkit-mask-image: var(--md-admonition-icon--both);
    mask-image: var(--md-admonition-icon--both);
}
