name: Publish documentation

on:
  workflow_dispatch: # allow manual runs
  push:
    branches:
      - main

concurrency:
  group: github-pages
  cancel-in-progress: false # skip any intermediate builds but let finish

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pip
      - id: pages
        uses: actions/configure-pages@v5
      - run: pip install -r requirements.txt
      - run: mkdocs build -d site
      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./site
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
